tests/Unit/CreateForm/xsd/xsd_test_1/application.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://epgu.gosuslugi.ru/yanao-gisogd/notification_new_building/1.0.0"
    xmlns:tns="http://epgu.gosuslugi.ru/yanao-gisogd/notification_new_building/1.0.0">
    <xs:include schemaLocation="dKindPermitUseCapitalConstruction.xsd"/>
    <xs:include schemaLocation="dTarget.xsd"/>
<!--    <xs:include schemaLocation="applied-documents-1.0.0.xsd"/>-->
    <xs:include schemaLocation="dOutputMethod.xsd"/>
    <xs:element name="Application" type="tns:ApplicationType">
        <xs:annotation>
            <xs:documentation>Заявление</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="PersonApplicantDataType">
        <xs:sequence>
            <xs:element name="LastName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Фамилия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FirstName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Имя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MiddleName" minOccurs="0" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Отчество</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DocumentData" type="tns:DocumentDataType">
                <xs:annotation>
                    <xs:documentation>Документ, удостоверяющий личность заявителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PersonContactData" type="tns:PersonContactDataType" form="unqualified">
                <xs:annotation>
                    <xs:documentation>Контактные данные заявителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SNILS" type="tns:SNILSType">
                <xs:annotation>
                    <xs:documentation>СНИЛС</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OGRNIP" type="tns:OGRNSoleProprietorType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>ОГРН ИП</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LegalApplicantDataType">
        <xs:sequence>
            <xs:element name="FullName" type="tns:string-4000">
                <xs:annotation>
                    <xs:documentation>Наименование юридического лица</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OPF" type="tns:string-255" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Организационно-правовая форма</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ContactData" type="tns:ContactDataType">
                <xs:annotation>
                    <xs:documentation>Контактные данные юридического лица</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LiderData" type="tns:LiderDataType">
                <xs:annotation>
                    <xs:documentation>Сведения о руководителе юридического лица</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="OGRN" type="tns:OGRNCompanyType">
                <xs:annotation>
                    <xs:documentation>ОГРН</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="INN" type="tns:string-10">
                <xs:annotation>
                    <xs:documentation>ИНН</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentDataType">
        <xs:sequence>
            <xs:element name="DocumentName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Наименование документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DocumentSeries" type="tns:string-255" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Серия документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DocumentNumber" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Номер документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IssueDate" type="tns:date">
                <xs:annotation>
                    <xs:documentation>Дата выдачи</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issuer" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Кем выдан</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonContactDataType">
        <xs:annotation>
            <xs:documentation>Контактные данные</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PostalAddress" type="tns:string-1024">
                <xs:annotation>
                    <xs:documentation>Адрес</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhoneNumber" type="tns:string-16">
                <xs:annotation>
                    <xs:documentation>Телефон</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>E-mail</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactDataType">
        <xs:annotation>
            <xs:documentation>Контактные данные юридического лица</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LegalAddress" type="tns:string-1024">
                <xs:annotation>
                    <xs:documentation>Юридический адрес</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostalAddress" type="tns:string-1024">
                <xs:annotation>
                    <xs:documentation>Почтовый адрес</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhoneNumber" type="tns:string-16">
                <xs:annotation>
                    <xs:documentation>Телефон</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="tns:string-255"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LiderDataType">
        <xs:annotation>
            <xs:documentation>Сведения о руководителе</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LastName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Фамилия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FirstName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Имя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MiddleName" type="tns:string-255" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Отчество</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResultType">
        <xs:sequence>
            <xs:element name="OutputMethod" type="tns:dOutputMethod">
                <xs:annotation>
                    <xs:documentation>Выдача результата</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MFCOffice" type="tns:string-10" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Выбор отделения МФЦ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MFCagree" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Даю согласие на обработку персональных данных</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ApplicationType">
        <xs:sequence>
            <xs:element name="Applicant" type="tns:ApplicantType">
                <xs:annotation>
                    <xs:documentation>Заявитель</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Representative" type="tns:RepresentativeType">
                <xs:annotation>
                    <xs:documentation>Сведения о законном представителе</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="NewBuilding" type="tns:NewBuildingDataType">
                    <xs:annotation>
                        <xs:documentation>Получение уведомления о соответствии (несоответствии) указанных в уведомлении о планируемых строительстве или реконструкции объекта индивидуального жилищного строительства или садового дома</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ChangeParameter" type="tns:ChangeParameterType">
                    <xs:annotation>
                        <xs:documentation>Получение уведомления об изменении параметров планируемого строительства или реконструкции объекта индивидуального жилищного строительства или садового дома </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="Result" type="tns:ResultType">
                <xs:annotation>
                    <xs:documentation>Результат предоставления услуги</xs:documentation>
                </xs:annotation>
            </xs:element>
<!--            <xs:element name="AppliedDocuments" type="tns:AppliedDocumentsType" minOccurs="0">-->
<!--                <xs:annotation>-->
<!--                    <xs:documentation>Прилагаемые документы</xs:documentation>-->
<!--                </xs:annotation>-->
<!--            </xs:element>-->
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ApplicantType">
        <xs:choice>
            <xs:element name="PersonApplicantData" type="tns:PersonApplicantDataType">
                <xs:annotation>
                    <xs:documentation>Физическое лицо или индивидуальный предприниматель</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LegalApplicantData" type="tns:LegalApplicantDataType">
                <xs:annotation>
                    <xs:documentation>Юридическое лицо</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RepresentativeType">
        <xs:sequence>
            <xs:element name="LastName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Фамилия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FirstName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Имя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="MiddleName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Отчество</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DocumentData" type="tns:DocumentDataType">
                <xs:annotation>
                    <xs:documentation>Документ, удостоверяющий личность представителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PersonContactData" type="tns:PersonContactDataType">
                <xs:annotation>
                    <xs:documentation>Контактные данные представителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SNILS" type="tns:SNILSType">
                <xs:annotation>
                    <xs:documentation>СНИЛС</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AuthorityDocument" type="tns:DocumentDataType">
                <xs:annotation>
                    <xs:documentation>Сведения о документе, подтверждающем полномочия представителя</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SNILSType">
        <xs:annotation>
            <xs:documentation>СНИЛС</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="11"/>
            <xs:pattern value="\d{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-2">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-3">
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-10">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-16">
        <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-23">
        <xs:restriction base="xs:string">
            <xs:maxLength value="23"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-255">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-1024">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1024"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-4000">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="date">
        <xs:restriction base="xs:date"> </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OGRNSoleProprietorType">
        <xs:annotation>
            <xs:documentation>ОГРН индивидуального предпринимателя</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="15"/>
            <xs:pattern value="[3]{1}\d{14}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OGRNCompanyType">
        <xs:annotation>
            <xs:documentation>ОГРН юридического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="13"/>
            <xs:pattern value="[125]{1}\d{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="digits-20">
        <xs:annotation>
            <xs:documentation/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="20"/>
            <xs:pattern value="\d{20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="digits-9">
        <xs:annotation>
            <xs:documentation/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
            <xs:pattern value="\d{9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NewBuildingDataType">
        <xs:sequence>
            <xs:element name="LandData" type="tns:LandDataType">
                <xs:annotation>
                    <xs:documentation>Сведения о земельном участке</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="KindPermitUseCapitalConstruction"
                type="tns:dKindPermitUseCapitalConstruction">
                <xs:annotation>
                    <xs:documentation>Вид разрешенного использования объекта капитального строительства</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="Target" type="tns:dTarget">
                <xs:annotation>
                    <xs:documentation>Цель подачи уведомления</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GeneralData" type="tns:GeneralConstructionDataType">
                <xs:annotation>
                    <xs:documentation>Сведения о параметрах</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="PermitDeviation" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Сведения о решении о предоставлении разрешения на отклонение от предельных параметров разрешенного строительства, реконструкции (при наличии)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="StandardSolution" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Типовое архитектурное решение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="chkInfo" nillable="false" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Подтверждаю, что объект индивидуального жилищного строительства или садовый дом не предназначен для раздела на самостоятельные объекты недвижимости, а также оплату государственной пошлины за осуществление государственной регистрации прав</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChangeParameterType">
        <xs:sequence>
            <xs:element minOccurs="1" name="LandCadastralNumber" type="tns:string-23">
                <xs:annotation>
                    <xs:documentation>Кадастровый номер земельного участка </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="LandAddress" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Адрес земельного участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Date" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата направления уведомления</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="PlanParameters" type="tns:GeneralConstructionDataType">
                <xs:annotation>
                    <xs:documentation>Планируемые параметры</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ChangeParameters" type="tns:GeneralConstructionDataType">
                <xs:annotation>
                    <xs:documentation>Изменяемые параметры</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralConstructionDataType">
        <xs:sequence>
            <xs:element minOccurs="0" name="FloorsCount" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Количество надземных этажей (кол-во)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Height" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Высота (м)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Indent" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Сведения об отступах от границ земельного участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Area" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Площадь застройки (кв.м.)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherRightLandType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="OtherRightLand"
                type="tns:string-255"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LandDataType">
        <xs:annotation>
            <xs:documentation>Сведения о земельном участке</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="1" name="LandCadastralNumber" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Кадастровый номер земельного участка </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="LandAddress" type="tns:string-1024">
                <xs:annotation>
                    <xs:documentation>Адрес земельного участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="RightLand" type="tns:string-1024">
                <xs:annotation>
                    <xs:documentation>Сведения о праве застройщика на земельный участок (правоустанавливающие документы)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="OtherRightLands" type="tns:OtherRightLandType">
                <xs:annotation>
                    <xs:documentation>Сведения о наличии прав иных лиц на земельный участок (при наличии)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="KindPermitUse" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Сведения о виде разрешенного использования земельного участка</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>