tests/Unit/CreateForm/xsd/test8/commons/wcs-epgu-criminal-record_types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn://x-artefacts-mvd-gov-ru/wcs-epgu-criminal-record/types/1.1.2" xmlns:tns="urn://x-artefacts-mvd-gov-ru/wcs-epgu-criminal-record/types/1.1.2" xmlns:smev="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:import namespace="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.2" schemaLocation="smev-supplementary-commons-1.2.xsd"/>

    <!-- Common complex types for Response -->

    <xs:complexType name="EPGURequestType">
        <xs:annotation>
            <xs:documentation>Запрос к сервису ИБД-М из ЕПГУ</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:IndividualEPGURequestCommonType">
                <xs:sequence>
                    <xs:element name="ApplicationInfo" type="tns:ApplicationInfoType">
                        <xs:annotation>
                            <xs:documentation>Суть заявления</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
        
    </xs:complexType>
    <xs:complexType name="EPGUResponseType">
        <xs:annotation>
            <xs:documentation>Результат приема заявления с ЕПГУ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="OrderId" type="xs:long">
                <xs:annotation>
                    <xs:documentation>Номер заявления на ЕПГУ</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="StatusCode" type="tns:StatusCodeType">
                <xs:annotation>
                    <xs:documentation>Статус заявления</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Comment" type="tns:string-2000" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Комментарий</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="CancelAllowed" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Возможность отмены заявления</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Id" type="smev:string-50" use="required">
            <xs:annotation>
                <xs:documentation>Идентификатор элемента</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="StatusCodeType">
        <xs:annotation>
            <xs:documentation>Статус заявления</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="OrgCode" type="smev:string-50">
                <xs:annotation>
                    <xs:documentation>Код статуса в ведомстве</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TechCode" type="xs:long">
                <xs:annotation>
                    <xs:documentation>Код статуса на ЕПГУ</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <!-- Common complex types, groups for Request -->
    <xs:complexType name="IndividualEPGURequestCommonType">
        <xs:annotation>
            <xs:documentation> Запрос к сервису ИБД-М из ЕПГУ, для использования в видах сведений необходимо расширить путем добавления элемента, отражающего суть заявления (заявители - физические лица) </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="tns:RequestMainAttrs-ModelGroup">
                <xs:annotation>
                    <xs:documentation>Основные атрибуты запроса</xs:documentation>
                </xs:annotation>
            </xs:group>

            <xs:element name="Applicant" type="tns:IndividualApplicantType">
                <xs:annotation>
                    <xs:documentation>Заявитель</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="AppliedDocuments" type="tns:AppliedDocumentsType">
                <xs:annotation>
                    <xs:documentation>Прилагаемые документы</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="env" type="tns:EnvType" use="optional">
            <xs:annotation>
                <xs:documentation>Среда вызова</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Id" type="smev:string-50" use="optional">
            <xs:annotation>
                <xs:documentation>Идентификатор элемента</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:group name="RequestMainAttrs-ModelGroup">
        <xs:annotation>
            <xs:documentation>Основные атрибуты запроса</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="OrderId" type="xs:long">
                <xs:annotation>
                    <xs:documentation>Номер заявления на ЕПГУ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ServiceCode" type="smev:string-50">
                <xs:annotation>
                    <xs:documentation>Код услуги</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ProcedureCode" type="smev:string-50">
                <xs:annotation>
                    <xs:documentation>Код процедуры</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="IndividualApplicantType">
        <xs:annotation>
            <xs:documentation>Сведения о заявителе - физическом лице</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Individual" type="tns:IndividualType">
                <xs:annotation>
                    <xs:documentation>Физическое лицо</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FullNameType">
        <xs:annotation>
            <xs:documentation>Фамилия, имя, отчество</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Surname" type="smev:string-100">
                <xs:annotation>
                    <xs:documentation>Фамилия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="smev:string-100">
                <xs:annotation>
                    <xs:documentation>Имя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PatronymicName" type="smev:string-100" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Отчество</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IndividualType">
        <xs:annotation>
            <xs:documentation>Физическое лицо</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Name" type="tns:FullNameType">
                <xs:annotation>
                    <xs:documentation>Фамилия, имя, отчество</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BirthDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата рождения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BirthPlace" type="smev:string-500">
                <xs:annotation>
                    <xs:documentation>Место рождения</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Gender" type="smev:GenderType">
                <xs:annotation>
                    <xs:documentation>Пол</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SNILS" type="smev:SNILSType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>СНИЛС</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="INN" type="smev:PhysicalPersonINNType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>ИНН</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="MobilePhone" type="smev:PhoneNumberRFType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Мобильный телефон</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HomePhone" type="smev:PhoneNumberRFType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Домашний телефон</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="smev:EmailAddressType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Электронная почта</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:group ref="tns:PrimaryIdentityDocument-ModelGroup">
                <xs:annotation>
                    <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
                </xs:annotation>
            </xs:group>

            <xs:group ref="tns:ChangedPhysicalPersonInformation-ModelGroup" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Сведения об изменении данных физ. лица</xs:documentation>
                </xs:annotation>
            </xs:group>

            <xs:element name="Addresses" type="tns:AddressesType">
                <xs:annotation>
                    <xs:documentation>Адреса (регистрации, места жительства и т.п.)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RequesterRole" type="tns:RequesterRoleType">
                <xs:annotation>
                    <xs:documentation>Тип заявителя</xs:documentation>
                </xs:annotation>
            </xs:element>


            <xs:element name="ResponseMethod" type="tns:ResponseMethodType">
                <xs:annotation>
                    <xs:documentation>Способ получения результата</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:group name="PrimaryIdentityDocument-ModelGroup">
        <xs:annotation>
            <xs:documentation>Основной документ, удостоверяющие личность. Подходит для любых юр. действий.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element ref="tns:PassportRF"/>
            <xs:element ref="tns:ForeignPassport"/>
            <xs:element ref="tns:ResidencePermitRF"/>
        </xs:choice>
    </xs:group>

    <xs:element name="PassportRF" type="tns:PassportRFType">
        <xs:annotation>
            <xs:documentation>Паспорт РФ</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="ResidencePermitRF" type="tns:InternationalPassportRFType">
        <xs:annotation>
            <xs:documentation>Вид на жительство в РФ. Формат серии и номера совпадает с загранпаспортом.</xs:documentation>
        </xs:annotation>
    </xs:element>


    <xs:element name="ForeignPassport" type="tns:NotRestrictedDocumentType">
        <xs:annotation>
            <xs:documentation>Паспорт иностранного гражданина</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="InternationalPassportRFType">
        <xs:annotation>
            <xs:documentation>Загранпаспорт, либо вид на жительство в РФ.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Series" type="smev:digits-2">
                <xs:annotation>
                    <xs:documentation>Серия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Number" type="smev:digits-7">
                <xs:annotation>
                    <xs:documentation>Номер</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IssueDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата выдачи</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issuer" type="smev:string-200">
                <xs:annotation>
                    <xs:documentation>Кем выдан</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NotRestrictedDocumentType">
        <xs:annotation>
            <xs:documentation>Документ с нерегламентированными серией и номером</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Series" type="smev:string-20" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Серия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Number" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Номер</xs:documentation>
                </xs:annotation>

            </xs:element>
            <xs:element name="IssueDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата выдачи</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issuer" type="smev:string-200">
                <xs:annotation>
                    <xs:documentation>Кем выдан</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="AddressesType">
        <xs:annotation>
            <xs:documentation>Адреса</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Address" type="tns:AddressType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес (регистрации, места жительства)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AddressType">
        <xs:annotation>
            <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Postcode" type="smev:PostalCodeRFType">
                <xs:annotation>
                    <xs:documentation>Почтовый индекс</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Region" type="tns:DictionaryType">
                <xs:annotation>
                    <xs:documentation>Регион</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Area" type="tns:DictionaryType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Район</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="City" type="tns:DictionaryType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Город</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Place" type="tns:DictionaryType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Населенный пункт</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Street" type="tns:DictionaryType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Улица</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="House" type="smev:string-50" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дом</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Housing" type="smev:string-50" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Корпус</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Building" type="smev:string-50" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Строение</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Apartment" type="smev:string-50" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Квартира</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SingleLine" type="tns:string-2000" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес одной строкой</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="type" type="tns:AddressTypeEnum" use="required">
            <xs:annotation>
                <xs:documentation>Тип адреса</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:group name="IdentityDocument-ModelGroup">
        <xs:annotation>
            <xs:documentation>Документы, удостоверяющие личность</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="PassportRF" type="tns:PassportRFType">
                <xs:annotation>
                    <xs:documentation>Паспорт гражданина РФ</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:group>

    <xs:complexType name="PassportRFType">
        <xs:annotation>
            <xs:documentation>Паспорт гражданина РФ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Series" type="smev:digits-4">
                <xs:annotation>
                    <xs:documentation>Серия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Number" type="smev:digits-6">
                <xs:annotation>
                    <xs:documentation>Номер</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IssueDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Дата выдачи</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issuer" type="smev:string-200">
                <xs:annotation>
                    <xs:documentation>Кем выдан</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:group name="ChangedPhysicalPersonInformation-ModelGroup">
        <xs:annotation>
            <xs:documentation>Сведения об изменении данных физ.лица</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LastFamilyName" type="smev:string-100" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Предыдущая фамилия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastFirstName" type="smev:string-100" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Предыдущее имя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPatronymic" type="smev:string-100" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Предыдущее отчество</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="PerformerType">
        <xs:annotation>
            <xs:documentation>Исполнитель заявления</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Department" type="tns:DictionaryType">
                <xs:annotation>
                    <xs:documentation> ИЦ/ГИАЦ </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AppliedDocumentsType">
        <xs:annotation>
            <xs:documentation>Описание прилагаемых документов</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="AppliedDocument" type="tns:AppliedDocumentType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AppliedDocumentType">
        <xs:annotation>
            <xs:documentation>Описание прилагаемого документа</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CodeDocument" type="smev:digits-4">
                <xs:annotation>
                    <xs:documentation>Номер документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="smev:string-200">
                <xs:annotation>
                    <xs:documentation>Имя файла загруженного документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="URL" type="smev:string-200">
                <xs:annotation>
                    <xs:documentation>Относительный путь к файлу внутри архива</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BusinessName" type="smev:string-200">
                <xs:annotation>
                    <xs:documentation>Бизнес-наименование документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Type" type="smev:string-200">
                <xs:annotation>
                    <xs:documentation>Тип контента (например: application/pdf или любой другой общепринятый MIME-тип)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DigestValue" type="smev:string-100">
                <xs:annotation>
                    <xs:documentation>Хэш файла в соответствии с ГОСТ</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ApplicationInfoType">
        <xs:annotation>
            <xs:documentation>Суть заявления</xs:documentation>
        </xs:annotation>
        <xs:sequence>

            <xs:element name="Person" type="tns:PersonInfoType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Сведения о лице, подлежащем проверке</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Regions" type="smev:string-10" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Коды регионов в соответствии с приложением 1 к приказу МВД РФ от 7 ноября 2011 г. №1121, где проживал, пребывал или проходил службу</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Exemplars" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Количество экземпляров справки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DestinationAddress" type="smev:string-10">
                <xs:annotation>
                    <xs:documentation>Регион направления запроса. </xs:documentation>
                    <xs:documentation>Код информационного подразделения, в котором заявитель будет забирать справку. </xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="PersonInfoType">
        <xs:annotation>
            <xs:documentation>Сведения о лице, подлежащем проверке</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FullName" type="tns:FullNameType">
                <xs:annotation>
                    <xs:documentation>Фамилия, имя, отчество</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BirthDate" type="tns:DateType">
                <xs:annotation>
                    <xs:documentation>Дата рождения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BirthPlace" type="smev:string-500">
                <xs:annotation>
                    <xs:documentation>Место рождения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="tns:ChangedPhysicalPersonInformation-ModelGroup" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DateType">
        <xs:annotation>
            <xs:documentation>Составная дата. Позволяет указывать только известные части даты. Например, только год.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Year" type="xs:int" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Год</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Month" type="xs:int" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Месяц</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Day" type="xs:int" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>День</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Enums -->
    <xs:simpleType name="ResponseMethodType">
        <xs:annotation>
            <xs:documentation>Способ получения результата</xs:documentation>
        </xs:annotation>
        <xs:restriction base="smev:string-50">
            <xs:enumeration value="500">
                <xs:annotation>
                    <xs:documentation>Лично в ИЦ/ГИАЦ</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="501">
                <xs:annotation>
                    <xs:documentation>Лично в территориальном органе МВД России по месту регистрации (пребывания)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="502">
                <xs:annotation>
                    <xs:documentation>Только в личный кабинет</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RequesterRoleType">
        <xs:annotation>
            <xs:documentation>Роль заявителя</xs:documentation>
        </xs:annotation>
        <xs:restriction base="smev:string-50">
            <xs:enumeration value="100">
                <xs:annotation>
                    <xs:documentation>Лично</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="101">
                <xs:annotation>
                    <xs:documentation>По доверенности</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="102">
                <xs:annotation>
                    <xs:documentation>Опекун</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="103">
                <xs:annotation>
                    <xs:documentation>Родитель или усыновитель</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AddressTypeEnum">
        <xs:annotation>
            <xs:documentation>Тип адреса</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:byte">
            <xs:enumeration value="0">
                <xs:annotation>
                    <xs:documentation>Адрес регистрации</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation>Адрес места жительства</xs:documentation>
                </xs:annotation>
            </xs:enumeration>

            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation>Фактический адрес заявителя </xs:documentation>
                </xs:annotation>
            </xs:enumeration>

            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation>Тип адреса неизвестен</xs:documentation>
                </xs:annotation>
            </xs:enumeration>


        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EnvType">
        <xs:annotation>
            <xs:documentation>Среда вызова</xs:documentation>
        </xs:annotation>
        <xs:restriction base="smev:string-20">
            <xs:enumeration value="DEV">
                <xs:annotation>
                    <xs:documentation>ЕПГУ (среда для разработки)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UAT">
                <xs:annotation>
                    <xs:documentation>ЕПГУ (среда для демонстрации)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXUAT">
                <xs:annotation>
                    <xs:documentation>ЕПГУ (оперативная среда для демонстрации)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TCOD">
                <xs:annotation>
                    <xs:documentation>EПГУ (среда для тестирования)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCVDEV">
                <xs:annotation>
                    <xs:documentation>ЕПГУ (среда для разработки услуг)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PROD">
                <xs:annotation>
                    <xs:documentation>ЕПГУ (продуктивная среда)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <!-- Dictionary types -->
    <xs:complexType name="DictionaryType">
        <xs:annotation>
            <xs:documentation>Тип для справочных значений (код+значение)</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="smev:string-500">
                <xs:attribute type="smev:string-50" name="code" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Simple types -->
    <xs:simpleType name="string-2000">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DepartmentCodeType">
        <xs:annotation>
            <xs:documentation>Код подразделения в формате NNN-NNN</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9][0-9][0-9]-[0-9][0-9][0-9]"/>
            <xs:length value="7"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
