tests/Unit/CreateForm/xsd/imushestvo/1_sogl/main.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://epgu.gosuslugi.ru/hub/formdata-universal/preliminary-approval/1.0.0/statement" targetNamespace="http://epgu.gosuslugi.ru/hub/formdata-universal/preliminary-approval/1.0.0/statement" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:simpleType name="stringNN-9">
        <xsd:annotation>
            <xsd:documentation>Произвольный нормализованный текст длиной от 1 до 9 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:normalizedString">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="9"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stringNN-10">
        <xsd:annotation>
            <xsd:documentation>Произвольный нормализованный текст длиной от 1 до 10 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:normalizedString">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stringNN-11">
        <xsd:annotation>
            <xsd:documentation>Произвольный нормализованный текст длиной от 1 до 11 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:normalizedString">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="11"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stringNN-13">
        <xsd:annotation>
            <xsd:documentation>Произвольный нормализованный текст длиной от 1 до 13 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:normalizedString">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="13"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stringNN-14">
        <xsd:annotation>
            <xsd:documentation>Произвольный нормализованный текст длиной от 1 до 14 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:normalizedString">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="14"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stringNN-20">
        <xsd:annotation>
            <xsd:documentation>Произвольный нормализованный текст длиной от 1 до 20 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:normalizedString">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stringNN-50">
        <xsd:annotation>
            <xsd:documentation>Произвольный нормализованный текст длиной от 1 до 50 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:normalizedString">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stringNN-255">
        <xsd:annotation>
            <xsd:documentation>Произвольный нормализованный текст длиной от 1 до 255 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:normalizedString">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="string-6">
        <xsd:annotation>
            <xsd:documentation>Произвольный текст длиной до 6 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="string-10">
        <xsd:annotation>
            <xsd:documentation>Произвольный текст длиной до 10 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="string-16">
        <xsd:annotation>
            <xsd:documentation>Произвольный текст длиной до 16 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="string-50">
        <xsd:annotation>
            <xsd:documentation>Произвольный текст длиной до 50 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="string-60">
        <xsd:annotation>
            <xsd:documentation>Произвольный текст длиной до 60 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="string-255">
        <xsd:annotation>
            <xsd:documentation>Произвольный текст длиной до 255 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="string-256">
        <xsd:annotation>
            <xsd:documentation>Произвольный текст длиной до 256 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="256"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="string-1024">
        <xsd:annotation>
            <xsd:documentation>Произвольный текст длиной до 1024 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1024"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="string-2048">
        <xsd:annotation>
            <xsd:documentation>Произвольный текст длиной до 2048 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2048"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="string-4000">
        <xsd:annotation>
            <xsd:documentation>Произвольный текст длиной до 4000 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="DataElementType">
        <xsd:annotation>
            <xsd:documentation>Справочное значение</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="tns:string-2048">
                <xsd:attribute name="code" type="tns:string-50" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Код элемента (для адресных данных – код из ФИАС)</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="EmailAddressType">
        <xsd:annotation>
            <xsd:documentation>Адрес электронной почты</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="tns:string-255">
            <xsd:pattern value="[0-9a-zA-Z_.\-]{2,50}[@]{1}[0-9a-zA-Z_./-]{2,50}[.]{1}[a-zA-Z]{2,5}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="LandSurveyingProjectDocumentType">
        <xsd:annotation>
            <xsd:documentation>Реквизиты решения об утверждении проекта межевания территории</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Number" type="tns:string-255" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Номер решения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Date" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дата решения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Issuer" type="tns:string-255" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Орган, выдавший решение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="WithdrawalDocumentType">
        <xsd:annotation>
            <xsd:documentation>Реквизиты решения об изъятии земельного участка для государственных или муниципальных нужд</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Number" type="tns:string-255" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Номер решения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Date" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дата решения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Issuer" type="tns:string-255" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Орган, выдавший решение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TerritorialPlanningDocumentType">
        <xsd:annotation>
            <xsd:documentation>Реквизиты решения об утверждении документа территориального планирования и (или) проекта планировки территории (в  случае, если земельный участок предоставляется для размещения объектов, предусмотренных указанными документом и (или) проектом)</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Number" type="tns:string-255" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Номер решения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Date" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дата решения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Issuer" type="tns:string-255" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Орган, выдавший решение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RequestDataType">
        <xsd:annotation>
            <xsd:documentation>Ходатайство о переводе</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ObjectType" type="tns:DataElementType">
                <xsd:annotation>
                    <xsd:documentation>Тип объекта</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CadNo" type="tns:string-255" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Кадастровый номер земельного участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PartCadNo" type="tns:string-255" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Кадастровый номер части земельного участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="LandSurveyingProjectDocument" type="tns:LandSurveyingProjectDocumentType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Реквизиты решения об утверждении проекта межевания территории</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SourceCadNo" type="tns:string-255" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Кадастровый номер исходного земельного участка или земельных участков, из которых в соответствии с проектом межевания территории, со схемой расположения земельного участка предусмотрено образование испрашиваемого земельного участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Law" type="tns:DataElementType">
                <xsd:annotation>
                    <xsd:documentation>Вид права</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="PaymentBasis" type="tns:DataElementType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Основание предоставления земельного участка без проведения торгов (в собственность за плату)</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="FreeBasis" type="tns:DataElementType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Основание предоставления земельного участка без проведения торгов (в собственность бесплатно)</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RentBasis" type="tns:DataElementType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Основание предоставления земельного участка без проведения торгов (в аренду)</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PerpetualBasis" type="tns:DataElementType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Основание предоставления земельного участка без проведения торгов (в постоянное (бессрочное) пользование)</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="UnpaidBasis" type="tns:DataElementType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Основание предоставления земельного участка без проведения торгов (в безвозмездное пользование)</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="Target" type="tns:string-255">
                <xsd:annotation>
                    <xsd:documentation>Цель использования земельного участка</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="WithdrawalDocument" type="tns:WithdrawalDocumentType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Реквизиты решения об изъятии земельного участка для государственных или муниципальных нужд</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="TerritorialPlanningDocument" type="tns:TerritorialPlanningDocumentType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Реквизиты решения об утверждении документа территориального планирования и (или) проекта планировки территории (в  случае, если земельный участок предоставляется для размещения объектов, предусмотренных указанными документом и (или) проектом)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LegalContactDataType">
        <xsd:annotation>
            <xsd:documentation>Контактные данные</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="LegalAddress" type="tns:AddressType">
                <xsd:annotation>
                    <xsd:documentation>Юридический адрес</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PostalAddress" type="tns:AddressType">
                <xsd:annotation>
                    <xsd:documentation>Почтовый адрес</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PhoneNumber" type="tns:string-16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Телефон</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Email" type="tns:EmailAddressType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>E-mail</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LegalApplicantDataType">
        <xsd:annotation>
            <xsd:documentation>Сведения о юридическом лице</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="FullName" type="tns:string-4000">
                <xsd:annotation>
                    <xsd:documentation>Полное наименование</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OPF" type="tns:string-255">
                <xsd:annotation>
                    <xsd:documentation>Организационно-правовая форма</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ContactData" type="tns:LegalContactDataType">
                <xsd:annotation>
                    <xsd:documentation>Контактные данные</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OtherData" type="tns:LegalOtherDataType">
                <xsd:annotation>
                    <xsd:documentation>Иные данные</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RepresentativeLegalOtherDataType">
        <xsd:annotation>
            <xsd:documentation>Иные данные</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="INN" type="tns:stringNN-10">
                <xsd:annotation>
                    <xsd:documentation>ИНН</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OGRN" type="tns:stringNN-13">
                <xsd:annotation>
                    <xsd:documentation>ОГРН</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LegalOtherDataType">
        <xsd:annotation>
            <xsd:documentation>Иные данные</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="INN" type="tns:stringNN-10">
                <xsd:annotation>
                    <xsd:documentation>ИНН</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OGRN" type="tns:stringNN-13">
                <xsd:annotation>
                    <xsd:documentation>ОГРН</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RepresentativeLegalDataType">
        <xsd:annotation>
            <xsd:documentation>Сведения о представителе – юридическом лице</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="FullName" type="tns:string-4000">
                <xsd:annotation>
                    <xsd:documentation>Полное наименование</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OPF" type="tns:string-255">
                <xsd:annotation>
                    <xsd:documentation>Организационно-правовая форма</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ContactData" type="tns:LegalContactDataType">
                <xsd:annotation>
                    <xsd:documentation>Контактные данные</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OtherData" type="tns:RepresentativeLegalOtherDataType">
                <xsd:annotation>
                    <xsd:documentation>Иные данные</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AddressType">
        <xsd:annotation>
            <xsd:documentation>Адрес</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="FullAddress" type="tns:string-1024">
                <xsd:annotation>
                    <xsd:documentation>Полный адрес</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Index" type="tns:string-6">
                <xsd:annotation>
                    <xsd:documentation>Индекс</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Region" type="tns:DataElementType">
                <xsd:annotation>
                    <xsd:documentation>Регион</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Area" type="tns:DataElementType">
                <xsd:annotation>
                    <xsd:documentation>Район</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="City" type="tns:DataElementType">
                <xsd:annotation>
                    <xsd:documentation>Город</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CityArea" type="tns:DataElementType">
                <xsd:annotation>
                    <xsd:documentation>Городской район</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Place" type="tns:DataElementType">
                <xsd:annotation>
                    <xsd:documentation>Населённый пункт</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Street" type="tns:DataElementType">
                <xsd:annotation>
                    <xsd:documentation>Улица</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AdditionalArea" type="tns:DataElementType">
                <xsd:annotation>
                    <xsd:documentation>Дополнительная территория</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AdditionalStreet" type="tns:DataElementType">
                <xsd:annotation>
                    <xsd:documentation>Улица дополнительной территории</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="House" type="tns:DataElementType">
                <xsd:annotation>
                    <xsd:documentation>Дом</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Building1" type="tns:string-50">
                <xsd:annotation>
                    <xsd:documentation>Корпус</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Building2" type="tns:string-50">
                <xsd:annotation>
                    <xsd:documentation>Строение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Apartment" type="tns:string-50">
                <xsd:annotation>
                    <xsd:documentation>Квартира/помещение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RepresentativeContactDataType">
        <xsd:annotation>
            <xsd:documentation>Контактные данные представителя</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Address" type="tns:AddressType">
                <xsd:annotation>
                    <xsd:documentation>Адрес места жительства</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PostalAddress" type="tns:AddressType">
                <xsd:annotation>
                    <xsd:documentation>Почтовый адрес</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PhoneNumber" type="tns:string-16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Телефон</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Email" type="tns:EmailAddressType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>E-mail</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PersonContactDataType">
        <xsd:annotation>
            <xsd:documentation>Контактные данные</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Address" type="tns:AddressType">
                <xsd:annotation>
                    <xsd:documentation>Адрес места жительства</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PostalAddress" type="tns:AddressType">
                <xsd:annotation>
                    <xsd:documentation>Почтовый адрес</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PhoneNumber" type="tns:string-16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Телефон</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Email" type="tns:EmailAddressType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>E-mail</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocumentDataType">
        <xsd:annotation>
            <xsd:documentation>Документ, удостоверяющий личность</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="DocumentName" type="tns:string-255">
                <xsd:annotation>
                    <xsd:documentation>Наименование документа</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DocumentSeries" type="tns:string-10">
                <xsd:annotation>
                    <xsd:documentation>Серия документа</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DocumentNumber" type="tns:string-10">
                <xsd:annotation>
                    <xsd:documentation>Номер документа</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="IssueDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>Дата выдачи</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Issuer" type="tns:string-255">
                <xsd:annotation>
                    <xsd:documentation>Кем выдан</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AuthorityDocumentDataType">
        <xsd:annotation>
            <xsd:documentation>Сведения о документе, подтверждающем полномочия законного представителя</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="DocumentName" type="tns:string-255">
                <xsd:annotation>
                    <xsd:documentation>Наименование документа подтверждающего полномочия</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DocumentSeries" type="tns:string-255">
                <xsd:annotation>
                    <xsd:documentation>Серия документа</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DocumentNumber" type="tns:string-255">
                <xsd:annotation>
                    <xsd:documentation>Номер документа</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="IssueDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>Дата выдачи</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Issuer" type="tns:string-255">
                <xsd:annotation>
                    <xsd:documentation>Кем выдан документ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PersonApplicantDataType">
        <xsd:annotation>
            <xsd:documentation>Сведения о физическом лице</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="LastName" type="tns:string-60">
                <xsd:annotation>
                    <xsd:documentation>Фамилия</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FirstName" type="tns:string-60">
                <xsd:annotation>
                    <xsd:documentation>Имя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MiddleName" type="tns:string-60" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Отчество</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DocumentData" type="tns:DocumentDataType">
                <xsd:annotation>
                    <xsd:documentation>Документ, удостоверяющий личность</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ContactData" type="tns:PersonContactDataType">
                <xsd:annotation>
                    <xsd:documentation>Контактные данные</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RepresentativeDataType">
        <xsd:annotation>
            <xsd:documentation>Сведения о физическом лице</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="LastName" type="tns:string-60">
                <xsd:annotation>
                    <xsd:documentation>Фамилия</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FirstName" type="tns:string-60">
                <xsd:annotation>
                    <xsd:documentation>Имя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MiddleName" type="tns:string-60" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Отчество</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DocumentData" type="tns:DocumentDataType">
                <xsd:annotation>
                    <xsd:documentation>Документ, удостоверяющий личность представителя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ContactData" type="tns:RepresentativeContactDataType">
                <xsd:annotation>
                    <xsd:documentation>Контактные данные представителя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ApplicantType">
        <xsd:annotation>
            <xsd:documentation>Сведения о заявителе</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="TargetCode" type="tns:string-255">
                <xsd:annotation>
                    <xsd:documentation>Код цели</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="StatementDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>Дата заполнения заявления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="orderId" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>Номер заявления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Department" type="tns:DataElementType">
                <xsd:annotation>
                    <xsd:documentation>Код ведомства</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ResultMethod" type="tns:stringNN-50">
                <xsd:annotation>
                    <xsd:documentation>Способ получения результата</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MFCOffice" type="tns:DataElementType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Выбор отделения МФЦ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MFCagree" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Даю согласие на обработку персональных данных в МФЦ</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AuthorityDocument" type="tns:AuthorityDocumentDataType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Сведения о документе, подтверждающем полномочия законного представителя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="PersonApplicantData" type="tns:PersonApplicantDataType">
                    <xsd:annotation>
                        <xsd:documentation>Сведения о физическом лице</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LegalApplicantData" type="tns:LegalApplicantDataType">
                    <xsd:annotation>
                        <xsd:documentation>Сведения о юридическом лице</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:choice>
                <xsd:element name="Representative" type="tns:RepresentativeDataType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Сведения о представителе - физическом лице</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="RepresentativeLegal" type="tns:RepresentativeLegalDataType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Сведения о представителе - юридическом лице</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="RequestData" type="tns:RequestDataType">
                <xsd:annotation>
                    <xsd:documentation>Данные заявления</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AppliedDocuments" type="tns:AppliedDocumentsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Приложенные документы</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AppliedDocumentsType">
        <xsd:annotation>
            <xsd:documentation>Группа вложений</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="AppliedDocument" type="tns:AppliedDocumentType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Список вложений</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AppliedDocumentType">
        <xsd:sequence>
            <xsd:element name="CodeDocument" type="tns:stringNN-50" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код документа</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Name" type="tns:string-255">
                <xsd:annotation>
                    <xsd:documentation>Имя документа</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Number" type="tns:string-255" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Номер документа (по порядку)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="URL" type="tns:string-255">
                <xsd:annotation>
                    <xsd:documentation>Относительный путь к файлу внутри архива</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Type" type="tns:string-255">
                <xsd:annotation>
                    <xsd:documentation>MIME-тип контента</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="BusinessName" type="tns:string-255" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Бизнес-наименование документа</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="ID" type="tns:string-50" use="optional">
            <xsd:annotation>
                <xsd:documentation>Уникальный идентификатор вложения</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="Applicant" type="tns:ApplicantType">
        <xsd:annotation>
            <xsd:documentation>Данные формы заявления</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>
