tests/Unit/CreateForm/xsd/xsd_set_null_address/assign-address-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://epgu.gosuslugi.ru/yanao-gisogd/assign_address/1.0.0"
    xmlns:tns="http://epgu.gosuslugi.ru/yanao-gisogd/assign_address/1.0.0">
    <xs:include schemaLocation="dOutputMethod.xsd"/>
    <xs:include schemaLocation="applied-documents-1.0.0.xsd"/>
    <xs:include schemaLocation="dTypeRoom.xsd"/>
    <xs:include schemaLocation="dTypeObject.xsd"/>
    <xs:include schemaLocation="dRightObject.xsd"/>
    <xs:include schemaLocation="dAffiliation.xsd"/>
    <xs:element name="Application" type="tns:ApplicationType">
        <xs:annotation>
            <xs:documentation>Заявление</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="PersonApplicantDataType">
        <xs:sequence>
            <xs:element name="LastName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Фамилия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FirstName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Имя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MiddleName" minOccurs="0" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Отчество</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DocumentData" type="tns:DocumentDataType">
                <xs:annotation>
                    <xs:documentation>Документ, удостоверяющий личность заявителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PersonContactData" type="tns:PersonContactDataType" form="unqualified">
                <xs:annotation>
                    <xs:documentation>Контактные данные заявителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SNILS" type="tns:SNILSType">
                <xs:annotation>
                    <xs:documentation>СНИЛС</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OGRNIP" type="tns:OGRNSoleProprietorType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>ОГРН ИП</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LegalApplicantDataType">
        <xs:sequence>
            <xs:element name="FullName" type="tns:string-4000">
                <xs:annotation>
                    <xs:documentation>Наименование юридического лица</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OPF" type="tns:string-255" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Организационно-правовая форма</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ContactData" type="tns:ContactDataType">
                <xs:annotation>
                    <xs:documentation>Контактные данные юридического лица</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LiderData" type="tns:LiderDataType">
                <xs:annotation>
                    <xs:documentation>Сведения о руководителе юридического лица</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="OGRN" type="tns:OGRNCompanyType">
                <xs:annotation>
                    <xs:documentation>ОГРН</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="INN" type="tns:string-10">
                <xs:annotation>
                    <xs:documentation>ИНН</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentDataType">
        <xs:sequence>
            <xs:element name="DocumentName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Наименование документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DocumentSeries" type="tns:string-255" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Серия документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DocumentNumber" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Номер документа</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IssueDate" type="tns:date">
                <xs:annotation>
                    <xs:documentation>Дата выдачи</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issuer" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Кем выдан</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonContactDataType">
        <xs:annotation>
            <xs:documentation>Контактные данные</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PostalAddress" type="tns:string-1024">
                <xs:annotation>
                    <xs:documentation>Адрес</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhoneNumber" type="tns:string-16">
                <xs:annotation>
                    <xs:documentation>Телефон</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>E-mail</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactDataType">
        <xs:annotation>
            <xs:documentation>Контактные данные юридического лица</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LegalAddress" type="tns:string-1024">
                <xs:annotation>
                    <xs:documentation>Юридический адрес</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostalAddress" type="tns:string-1024">
                <xs:annotation>
                    <xs:documentation>Почтовый адрес</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhoneNumber" type="tns:string-16">
                <xs:annotation>
                    <xs:documentation>Телефон</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="tns:string-255" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LiderDataType">
        <xs:annotation>
            <xs:documentation>Сведения о руководителе</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LastName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Фамилия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FirstName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Имя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MiddleName" type="tns:string-255" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Отчество</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResultType">
        <xs:sequence>
            <xs:element name="OutputMethod" type="tns:dOutputMethod">
                <xs:annotation>
                    <xs:documentation>Выдача результата</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MFCOffice" type="tns:string-10" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Выбор отделения МФЦ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MFCagree" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Даю согласие на обработку персональных данных</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ApplicationType">
        <xs:sequence>
            <xs:element name="Applicant" type="tns:ApplicantType">
                <xs:annotation>
                    <xs:documentation>Заявитель</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Representative" type="tns:RepresentativeType">
                <xs:annotation>
                    <xs:documentation>Сведения о законном представителе</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TypeObject" type="tns:dTypeObject">
                <xs:annotation>
                    <xs:documentation>Вид адресации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="1" name="MunStateLandCreateParcels"
                    type="tns:MunStateLandCreateParcelsType">
                    <xs:annotation>
                        <xs:documentation>Образованием земельного участка(ов) из земель, находящихся в государственной или муниципальной собственности</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="1" name="SplitParcels">
                    <xs:annotation>
                        <xs:documentation>Образованием земельного участка(ов) путем раздела земельного участка</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="NumberOfParcel" type="tns:string-10">
                                <xs:annotation>
                                    <xs:documentation>Количество образуемых земельных участков</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="SplitParcel"
                                type="tns:CreateParcelType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="1" name="UnionParcels">
                    <xs:annotation>
                        <xs:documentation>Образованием земельного участка путем объединения земельных участков</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="NumberOfParcel" type="tns:string-10">
                                <xs:annotation>
                                    <xs:documentation>Количество объединяемых земельных участков</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element form="unqualified" name="LandCadastralNumber"
                                type="tns:string-23">
                                <xs:annotation>
                                    <xs:documentation>Кадастровый номер земельного участка</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element form="unqualified" name="LandAddress" type="tns:string-1024">
                                <xs:annotation>
                                    <xs:documentation>Адрес земельного участка</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="1" name="AllotmentParcels">
                    <xs:annotation>
                        <xs:documentation>Образованием земельного участка(ов) путем выдела из земельного участка</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="NumberOfParcel" type="tns:string-10">
                                <xs:annotation>
                                    <xs:documentation>Количество образуемых земельных
участков (за исключением земельного
участка, из которого осуществляется
выдел)
</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="AllotmentParcel"
                                type="tns:CreateParcelType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="1" name="RedistributionParcels">
                    <xs:annotation>
                        <xs:documentation>Образованием земельного участка(ов) путем перераспределения земельных участков</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="NumberOfParcel" type="tns:string-10">
                                <xs:annotation>
                                    <xs:documentation>Количество образуемых земельных участков</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="NumberOfRedistributionParcel" type="tns:string-10">
                                <xs:annotation>
                                    <xs:documentation>Количество земельных участков, которые перераспределяются</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="1"
                                name="RedistributionParcel" type="tns:RedistributionParcelType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="1" name="BuildReconsructionObject"
                    type="tns:BuildReconsructionObjectType">
                    <xs:annotation>
                        <xs:documentation>Строительством, реконструкцией здания, сооружения</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="1" name="DocForEGRNRegistration"
                    type="tns:DocForEGRNRegistrationType">
                    <xs:annotation>
                        <xs:documentation>Подготовкой в отношении следующего объекта адресации документов, необходимых для осуществления государственного кадастрового учета указанного объекта адресации, в случае, если в соответствии с Градостроительным кодексом Российской Федерации, законодательством субъектов Российской Федерации о градостроительной деятельности для его строительства, реконструкции выдача разрешения на строительство не требуется</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="1" name="ResidentalNonResidentalRoom"
                    type="tns:ResidentalNonResidentalRoomType">
                    <xs:annotation>
                        <xs:documentation>Переводом жилого помещения в нежилое помещение и нежилого помещения в жилое помещение</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="1" name="SplitBuildCreateRooms">
                    <xs:annotation>
                        <xs:documentation>Образованием помещения(ий) в здании, сооружении путем раздела здания, сооружения</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="1"
                                name="SplitBuildCreateRoom" type="tns:CreateRoomType"/>
                            <xs:element form="unqualified" name="ObjectCadastralNumber"
                                type="tns:string-23">
                                <xs:annotation>
                                    <xs:documentation>Кадастровый номер </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element form="unqualified" name="ObjectAddress"
                                type="tns:string-1024">
                                <xs:annotation>
                                    <xs:documentation>Адрес</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AdditionalInfo" type="tns:string-255" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Дополнительная информация</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="1" name="SplitRoomCreateRooms">
                    <xs:annotation>
                        <xs:documentation>Образованием помещения(ий) в здании, сооружении путем раздела помещения</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="1"
                                name="SplitRoomCreateRoom" type="tns:SplitRoomCreateRoomType"/>
                            <xs:element form="unqualified" name="ObjectCadastralNumber"
                                type="tns:string-23">
                                <xs:annotation>
                                    <xs:documentation>Кадастровый номер помещения, раздел которого осуществляется</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element form="unqualified" name="ObjectAddress"
                                type="tns:string-1024">
                                <xs:annotation>
                                    <xs:documentation>Адрес помещения, раздел которого осуществляется</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AdditionalInfo" type="tns:string-255" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Дополнительная информация</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="1" name="UnionRoomCreateRooms">
                    <xs:annotation>
                        <xs:documentation>Образованием помещения(ий) в здании, сооружении путем объединения помещений в здании, сооружении</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TypeRoom" type="tns:dTypeRoom">
                                <xs:annotation>
                                    <xs:documentation>Тип помещения</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="NumberOfRoom" type="tns:string-10">
                                <xs:annotation>
                                    <xs:documentation>Количество помещений</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="1"
                                name="UnionRoomCreateRoom" type="tns:UnionRoomCreateRoomsType"/>
                            <xs:element name="AdditionalInfo" type="tns:string-255" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Дополнительная информация</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="1" name="RedistributionRoomCreateRooms"
                    type="tns:RedistributionRoomCreateRoomsType">
                    <xs:annotation>
                        <xs:documentation>Образованием помещения(ий) в здании, сооружении путем , переустройства и (или) перепланировки
мест общего пользования
</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="Owner" type="tns:OwnerType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Собственник объекта адресации или лицо, обладающее иными вещным правом на объект адресации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RightObject" type="tns:dRightObject" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Вещное право на объект адресации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Result" type="tns:ResultType">
                <xs:annotation>
                    <xs:documentation>Результат предоставления услуги</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AppliedDocuments" type="tns:AppliedDocumentsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Прилагаемые документы</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ApplicantType">
        <xs:choice>
            <xs:element name="PersonApplicantData" type="tns:PersonApplicantDataType">
                <xs:annotation>
                    <xs:documentation>Физическое лицо или индивидуальный предприниматель</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LegalApplicantData" type="tns:LegalApplicantDataType">
                <xs:annotation>
                    <xs:documentation>Юридическое лицо</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RepresentativeType">
        <xs:sequence>
            <xs:element name="LastName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Фамилия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FirstName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Имя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="MiddleName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Отчество</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DocumentData" type="tns:DocumentDataType">
                <xs:annotation>
                    <xs:documentation>Документ, удостоверяющий личность представителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PersonContactData" type="tns:PersonContactDataType">
                <xs:annotation>
                    <xs:documentation>Контактные данные представителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SNILS" type="tns:SNILSType">
                <xs:annotation>
                    <xs:documentation>СНИЛС</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AuthorityDocument" type="tns:DocumentDataType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Сведения о документе, подтверждающем полномочия представителя</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MunStateLandCreateParcelsType">
        <xs:sequence>
            <xs:element name="NumberOfParcel" type="tns:string-10">
                <xs:annotation>
                    <xs:documentation>Количество образуемых земельных участков</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdditionalInfo" type="tns:string-255" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дополнительная информация</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreateParcelType">
        <xs:sequence>
            <xs:element form="unqualified" name="LandCadastralNumber" type="tns:string-23">
                <xs:annotation>
                    <xs:documentation>Кадастровый номер земельного участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element form="unqualified" name="LandAddress" type="tns:string-1024">
                <xs:annotation>
                    <xs:documentation>Адрес земельного участка</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RedistributionParcelType">
        <xs:sequence>
            <xs:element form="unqualified" name="LandCadastralNumber" type="tns:string-23">
                <xs:annotation>
                    <xs:documentation>Кадастровый номер земельного участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element form="unqualified" name="LandAddress" type="tns:string-1024">
                <xs:annotation>
                    <xs:documentation>Адрес земельного участка</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BuildReconsructionObjectType">
        <xs:sequence>
            <xs:element name="ObjectName" type="tns:string-4000">
                <xs:annotation>
                    <xs:documentation>Наименование объекта строительства (реконструкции) в соответствии с проектной документацией</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element form="unqualified" name="LandCadastralNumber" type="tns:string-23">
                <xs:annotation>
                    <xs:documentation>Кадастровый номер земельного участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element form="unqualified" name="LandAddress" type="tns:string-1024">
                <xs:annotation>
                    <xs:documentation>Адрес земельного участка</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocForEGRNRegistrationType">
        <xs:sequence>
            <xs:element name="TypeObject" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Тип здания, сооружения, объекта незавершенного строительства</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ObjectName" type="tns:string-4000">
                <xs:annotation>
                    <xs:documentation>Наименование объекта строительства (реконструкции) в соответствии с проектной документацией</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element form="unqualified" name="LandCadastralNumber" type="tns:string-23">
                <xs:annotation>
                    <xs:documentation>Кадастровый номер земельного участка</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element form="unqualified" name="LandAddress" type="tns:string-1024">
                <xs:annotation>
                    <xs:documentation>Адрес земельного участка</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResidentalNonResidentalRoomType">
        <xs:sequence>
            <xs:element form="unqualified" name="RoomCadastralNumber" type="tns:string-23">
                <xs:annotation>
                    <xs:documentation>Кадастровый номер помещения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element form="unqualified" name="RoomAddress" type="tns:string-1024">
                <xs:annotation>
                    <xs:documentation>Адрес помещения</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreateRoomType">
        <xs:sequence>
            <xs:element name="TypeRoom" type="tns:dTypeRoom">
                <xs:annotation>
                    <xs:documentation>Тип помещения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NumberOfRoom" type="tns:string-10">
                <xs:annotation>
                    <xs:documentation>Количество помещений</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SplitRoomCreateRoomType">
        <xs:sequence>
            <xs:element name="PurposeRoom" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Назначение помещения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TypeRoom" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Вид помещения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NumberOfRoom" type="tns:string-10">
                <xs:annotation>
                    <xs:documentation>Количество помещений</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SNILSType">
        <xs:annotation>
            <xs:documentation>СНИЛС</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="11"/>
            <xs:pattern value="\d{11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-10">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-16">
        <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-23">
        <xs:restriction base="xs:string">
            <xs:maxLength value="23"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-255">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-1024">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1024"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string-4000">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="date">
        <xs:restriction base="xs:date"> </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OGRNSoleProprietorType">
        <xs:annotation>
            <xs:documentation>ОГРН индивидуального предпринимателя</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="15"/>
            <xs:pattern value="[3]{1}\d{14}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OGRNCompanyType">
        <xs:annotation>
            <xs:documentation>ОГРН юридического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="13"/>
            <xs:pattern value="[125]{1}\d{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OwnerType">
        <xs:choice>
            <xs:element name="PersonOwnerData" type="tns:PersonOwnerDataType">
                <xs:annotation>
                    <xs:documentation>Физическое лицо</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LegalOwnerData" minOccurs="1" type="tns:LegalOwnerDataType">
                <xs:annotation>
                    <xs:documentation>Юридическое лицо</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PersonOwnerDataType">
        <xs:sequence>
            <xs:element name="LastName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Фамилия</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FirstName" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Имя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MiddleName" minOccurs="0" type="tns:string-255">
                <xs:annotation>
                    <xs:documentation>Отчество</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DocumentData" type="tns:DocumentDataType">
                <xs:annotation>
                    <xs:documentation>Документ, удостоверяющий личность заявителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PersonContactData" type="tns:PersonContactDataType" form="unqualified">
                <xs:annotation>
                    <xs:documentation>Контактные данные заявителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="INN" minOccurs="0" type="tns:string-12">
                <xs:annotation>
                    <xs:documentation>ИНН</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="string-12">
        <xs:restriction base="xs:string">
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegalOwnerDataType">
        <xs:sequence>
            <xs:element name="FullName" type="tns:string-4000">
                <xs:annotation>
                    <xs:documentation>Наименование юридического лица</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OPF" type="tns:string-255" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Организационно-правовая форма</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Affiliation" type="tns:dAffiliation">
                <xs:annotation>
                    <xs:documentation>Государственная принадлежность юридического лица</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="INN" type="tns:string-10" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>ИНН</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KPP" type="tns:string-9" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>КПП</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Country" type="tns:string-255" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Страна регистрации (инкорпорации) </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RegDate" type="tns:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дата регистрации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RegNumber" type="tns:string-255" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Номер регистрации</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ContactData" type="tns:ContactDataType">
                <xs:annotation>
                    <xs:documentation>Контактные данные юридического лица</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="string-9">
        <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnionRoomCreateRoomsType">
        <xs:sequence>
            <xs:element form="unqualified" name="ObjectCadastralNumber" type="tns:string-23">
                <xs:annotation>
                    <xs:documentation>Кадастровый номер помещения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element form="unqualified" name="ObjectAddress" type="tns:string-1024">
                <xs:annotation>
                    <xs:documentation>Адрес помещения</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RedistributionRoomCreateRoomsType">
        <xs:sequence>
            <xs:element name="TypeRoom" type="tns:dTypeRoom">
                <xs:annotation>
                    <xs:documentation>Тип помещения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NumberOfRoom" type="tns:string-10">
                <xs:annotation>
                    <xs:documentation>Количество помещений</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element form="unqualified" name="ObjectCadastralNumber" type="tns:string-23">
                <xs:annotation>
                    <xs:documentation>Кадастровый номер помещения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element form="unqualified" name="ObjectAddress" type="tns:string-1024">
                <xs:annotation>
                    <xs:documentation>Адрес помещения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdditionalInfo" type="tns:string-255" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дополнительная информация</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
